<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IService11">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IService12">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IService13">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChat">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService1"
                contract="ServiceReference1.IService1" name="NetTcpBinding_IService1">
                <identity>
                    <userPrincipalName value="LAPTOP-GRCV57RT\rockm" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService11"
                contract="ServiceReference2.IService1" name="NetTcpBinding_IService11">
                <identity>
                    <userPrincipalName value="LAPTOP-GRCV57RT\rockm" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService12"
                contract="ServiceReference3.IService1" name="NetTcpBinding_IService12">
                <identity>
                    <userPrincipalName value="LAPTOP-GRCV57RT\rockm" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://192.168.43.116/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService13"
                contract="ServiceReference4.IService1" name="NetTcpBinding_IService13" />
            <endpoint address="net.tcp://192.168.43.116/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChat"
                contract="ServiceReference4.IChat" name="NetTcpBinding_IChat" />
        </client>
    </system.serviceModel>
</configuration>